Repository CMS-Enterprise/ztmf, pull requests merged in 2024-09, with the labels that each got.

#110 fix: remove diff check
  .github/workflows/orchestration-prod.yml
Labels: bug, cicd

#115 fix: resolves an issue where /users/current wasnt matching correctly
  backend/cmd/api/internal/router/router.go
Labels: bug, backend/api

#116 chore: resolves warnings related to using --from flag, and bumps go version …
  backend/Dockerfile
Labels: cicd, backend/api

#120 Providing a platform flag for the backend
  compose.yml
Labels: bug
